/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

.bg-first {
  background: #8a82cc;
}

.bg-second {
  background: #ffa782;
}

.bg-third {
  background: #f5d005;
}

.bg-forth {
  background: #559ac8;
}

html,
body {
  /* 設定body高度為100% 拉到視窗可視的大小 */
  height: 100%;
}

.wrap {
  max-width : 1024px;
  min-height: 100%;
  position  : relative;
  margin    : 0 auto;
}

.header {
  background : url(https://hexschool.github.io/JavaScript_HomeWork/assets/Hero.png) no-repeat center center;
  height     : 380px;
  padding-top: 89px;
  text-align : center;
}

.header_title {
  font-size     : 40px;
  letter-spacing: 3.89px;
  margin-bottom : 96px;
}

.header_select-district {
  text-align   : center;
  font-size    : 18px;
  background   : rgba(255, 255, 255, 0.7);
  border       : 3px solid #ffffff;
  border-radius: 3px;
  outline      : none;
  font-weight  : bold;
  width        : 452px;
  height       : 48px;
  text-indent  : 9.5px;
  cursor       : pointer;
  /* 	padding  : 15px 252.5px 12px 9.5px; */
}

.content {
  padding         : 121px 40px 90px 40px;
  min-height      : -webkit-calc(100vh - 380px - 103px);
  min-height      : calc(100vh - 380px - 103px);
  background-color: #f0f0f0;
  position        : relative;
}

/*熱門行政區*/
.popular-section {
  background    : #ffffff;
  box-shadow    : 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius : 5px;
  /* 	margin    : -28px auto 49px ; */
  padding-top   : 20px;
  padding-bottom: 18px;
  padding-left  : 26px;
  width         : 78%;
  position      : absolute;
  top           : -28px;
  left          : 10.9%;
  right         : 10.9%;
}

.popular-section_title {
  font-size    : 18px;
  margin-bottom: 14px;
}

.popular-section_list {
  display    : flex;
  margin-left: 25px;
}

.popular-section_item {
  width        : 17.5%;
  border-radius: 5px;
  margin-right : 23px;
}

.popular-section_item a {
  display        : block;
  padding-top    : 11px;
  padding-bottom : 11px;
  text-decoration: none;
  width          : 100%;
}

/*分隔線*/
.divider {
  width          : 24px;
  height         : 24px;
  border         : 1px solid #559ac8;
  border-radius  : 50%;
  text-align     : center;
  /* 	padding-top: 4px; */
  margin         : 0 auto 65px;
  position       : relative;
}

.divider:before {
  content : " ";
  position: absolute;
  bottom  : 12px;
  left    : 26px;
  border  : 1px dashed #559ac8;
  width   : 437px;
}

.divider:after {
  content : " ";
  position: absolute;
  bottom  : 12px;
  right   : 26px;
  border  : 1px dashed #559ac8;
  width   : 437px;
}

.divider-img {
  filter: invert(60%) sepia(50%) saturate(436%) hue-rotate(161deg) brightness(86%) contrast(93%);
}

/* 旅遊資訊呈現區塊 */
.spot-section_title {
  text-align   : center;
  font-size    : 36px;
  color        : #8a82cc;
  margin-bottom: 24px;
}

.sopt-section_content {
  position: relative;
}

.spot-section_list {
  display        : flex;
  justify-content: space-between;
  flex-wrap      : wrap;
}

.spot-section_item {
  box-shadow      : 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom   : 36px;
  width           : 49%;
  background-color: #fff;
}

.spot-section_header {
  /* 	max-width: 464px; */
  height  : 155px;
  position: relative;
}

.spot-section_header img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.spot-section_headerInfo {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-end;
  position       : absolute;
  bottom         : 14px;
  left           : 24px;
  right          : 24px;
}

.spot-section_subtitle {
  max-width       : 89%;
  /* 	outline     :1px solid red; */
  font-size       : 24px;
  background-color: rgba(0, 0, 0, 0.3);
  padding         : 4px 2px 0 2px;
}

.spot-section_district {
  background-color: rgba(0, 0, 0, 0.2);
  padding         : 3px 2px 2px 2px;
}

.spot-section_body {
  padding        : 15px 24px 20px 24px;
  display        : flex;
  justify-content: space-between;
  position       : relative;
}

.spot-section_schedule,
.spot-section_address {
  margin-bottom: 12px;
}

.spot-section_schedule-icon {
  margin-right: 9px;
}

.spot-section_address-icon {
  margin-left : 1px;
  margin-right: 10px;
}

.spot-section_contact-icon {
  margin-left : 4px;
  margin-right: 12px;
}

.spot-section_free {
  /* 	outline: 1px solid red; */
  position: absolute;
  right   : 24px;
  bottom  : 20px;
}

.spot-section_free-icon {
  margin-right: 8px;
}

.page {
  font-size: 14px;
  position : absolute;
  bottom   : -28px;
}

.scrollTop {
  position: absolute;
  right   : 28px;
  bottom  : 124px;
}

.footer {
  background    : #559ac8;
  font-size     : 14px;
  padding-top   : 24px;
  padding-bottom: 23px;
  position      : relative;
  bottom        : 0;
  width         : 100%;
}

.source {
  color        : #ffd366;
  margin-bottom: 0;
}